.Header {
  background: url("https://images.unsplash.com/photo-1522223142907-0fbfb9c571c1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b7a69d28bf8e5030872cb254ba06efbd&auto=format&fit=crop&w=2500&q=80") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* IE */
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/main_bg_2.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/main_bg_2.jpg', sizingMethod='scale')";
    height: 90vh;
    margin-top: 72px;
}

@media screen and (min-width: 150px) {
  .HeaderTextStyle {
    position: relative;
    top: 670px;
    font-family: 'Great Vibes', cursive;
    font-size: 60px;
    padding: 10px 10px 0px 10px;
    width: 100%;
    color: #e9ede7;
    background: rgba(83, 150, 182, 0.8);
    z-index: 9998;
    text-align: center;
  }

  .HeaderTextStyle2 {
    font-family: 'Great Vibes', cursive;
    font-size: 60px;
    color: #e9ede7;
  }
}

@media screen and (min-width: 464px) {
  .HeaderTextStyle {
    top: 660px;
    font-size: 75px;
  }

  .HeaderTextStyle2 {
    font-size: 75px;
  }
}

@media screen and (min-width: 576px) {
  .HeaderTextStyle {
    top: 625px;
  }
}

@media screen and (min-width: 768px) {
  .HeaderTextStyle {
    top: 100px;
    left: 45px;
    width: 35%;
    border-radius: 25px;
    font-size: 75px;
    padding: 30px 100px 8px 10px;
  }

  .HeaderTextStyle2 {
    font-size: 75px;
    margin-left: 50px;
  }
}

@media screen and (min-width: 992px) {
  .HeaderTextStyle {
    top: 80px;
    width: 30%;
    font-size: 80px;
    padding: 25px 95px 6px 9px;
  }

  .HeaderTextStyle2 {
    font-size: 80px;
    margin: 65px;
  }
}

@media screen and (min-width: 1201px) {
  .HeaderTextStyle {
    top: 80px;
    left: 70px;
    width: 28%;
    font-size: 90px;
    padding: 25px 125px 3px 28px;
  }

  .HeaderTextStyle2 {
    font-size: 90px;
    margin-left: 50px;
  }
}

