.Nav,
#navbar {
  background-color: #5096b8;
}
.Nav, 
.nav-link {
  color: #e9ede7;
  padding: 0;
}
.Nav,
.navbar-toggler {
  border: 1px solid #e9ede7;
}
.Nav,
.navbar-brand {
  color: #e9ede7;
}
.Nav,
.dropdown-menu {
  background: #5096b8;
  border: none;
}
.Nav,
.dropdown-item {
  color: #e9ede7;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}